@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 46.32%; /* (667/1440) * 100 = 46.32% */
  overflow: hidden;
}

.img-bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  /* height: 143.93%; (960/667) * 100 = 143.93% */
  object-fit: cover;
  transform: translateY(-22.29%); /* (-214/960) * 100 = -22.29% */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Overlay noir à 30% */
  pointer-events: none;
}

.logo {
  position: absolute;
  top: 7vh;
  left: 5vw;
  width: 207px;
}

.heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Anton";
  color: #ffd15b;
  font-size: 44px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.content,
.filters-zone,
.labels {
  border: 1px solid red; /* Pour visualiser les dimensions */
}

.searchbar {
  width: 66%;
  height: 72px;
  border-radius: 11px;
  background: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.input-principal {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  margin-left: 35px;
  border: none;
  width: 87%;
}

input:focus-visible {
  outline: none;
}

.glass-wrapper {
  position: relative;
  width: 51px;
  height: 52px;
  overflow: hidden;
  margin-right: 10px;
}

.glass,
.glass-yellow {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.glass-yellow {
  opacity: 0;
}

.glass-wrapper:hover .glass {
  opacity: 0;
}

.glass-wrapper:hover .glass-yellow {
  opacity: 1;
}

/* FILTERS  */

main {
  background: #ededed;
}

.content {
  width: calc(100% - 204px); /* Largeur totale moins les marges */
  margin: 0 auto;
}

.filters-zone {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%; /* Occupe toute la largeur disponible de .content */
  margin: 0;
}

.filters {
  display: flex;
  flex-direction: row;
}

.filter {
  position: relative;
}

.filter-button {
  width: 195px;
  height: 56px;
  padding: 17px 16px 17px 16px;
  border-radius: 11px;
  background: white;
  border: none;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  color: #1b1b1b;
  margin-right: 63px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nb-recipes {
  font-family: "Anton";
  font-size: 21px;
  font-weight: 400;
  text-align: right;
}

/* Liste des ingrédients, appareils et ustensiles */
.filter-list {
  position: absolute;
  display: none; /* Cache par défaut */
  top: 100%;
  width: 195px;
  max-height: 315px;
  left: 0;
  top: 47px;
  padding-bottom: 10px;
  background: white;
  z-index: 10;
  display: none;
  box-sizing: border-box;
  border-radius: 0 0 11px 11px;
}

.input-filter {
  width: 117px;
  height: 36px;
  border: 1px solid #c6c6c6;
  margin-top: 11px;
  margin-bottom: 20px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 10px;
  padding-right: 36px;
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
  text-align: left;
  color: #7a7a7a;
}

.mini-glass {
  position: absolute;
  top: 23px;
  right: 27px;
}

.filter-list li {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  list-style: none;
  padding: 8px 18px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
  position: relative;
}

.filter-list li:hover {
  background: #ffd15b;
  width: 100%;
  font-weight: bold;
}

.filter-list li:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("/icons/cross-filter-item.svg") no-repeat center;
  background-size: contain;
}

.labels {
  margin-top: 21px;
  margin-bottom: 43px;
  /* display: none; */
  width: 100%;
}

.label-selected {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  background: #ffd15b;
  padding: 17px 18px;
  gap: 60px;
  border-radius: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: max-content;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
  gap: 48px;
  padding-bottom: 200px;
}

.card {
  width: auto;
  height: auto;
  border-radius: 21px;
  background: white;
  position: relative;
  padding-bottom: 61px;
}

.img-recipe {
  width: 100%;
  height: 253px;
  object-fit: cover;
  border-radius: 21px 21px 0 0;
}

.duration {
  position: absolute;
  top: 21px;
  right: 22px;
  background: #ffd15b;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  color: #1b1b1b;
  padding: 5px 15px;
  border-radius: 14px;
}

.content-card {
  padding: 0 25px;
}

h2 {
  font-family: "Anton";
  font-size: 18px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 29px;
}

h3 {
  font-family: "Manrope";
  font-size: 12px;
  font-weight: 700;
  color: #7a7a7a;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 32px;
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
}
.ingredient {
  display: flex;
  flex-direction: column;
}

.ingredients-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de taille égale */
  gap: 21px;
}

.ingredient-name {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: bold;
  color: #1b1b1b;
}

.quantity {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  color: #7a7a7a;
}

/* Animation pour le bouton lorsqu'une liste est active */
.filter-button.active .chevron {
  transform: rotate(180deg);
}
